.child-background {
    width: 70%;
    margin-left: 70%;
    margin-top: -10%;
    display: block;
  }


section {
  text-align: center;
}

.mar-1{
  margin-top: 20px;
}

.mar-1 a{
  text-align: center !important;
}

.add a{
  text-align: center;
  text-decoration: none;
}

.add a::after{
  content: '\2192';
  margin-left: 5px;
}

.co-0{
  color:lightseagreen;
}

.co-1{
  color: red;
}

.co-2{
  color: blue;
}

.co-3{
  color: rebeccapurple;
}

.co-4{
  color: green;
}

.te-de a{
  text-decoration: none;
}
.me-7{
  margin-right: 50%;
}